:root {
  --title-text: rgba(48, 48, 48, 1);
  --orange: #FF6C00;
  --text-color-white: #FFF;
}

* {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li,
ol,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-style: inherit;
  font-size: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: 100%;
  width: 1280px;
  overflow: clip;
  margin: 0 auto;
  background-color: #fff;
}

/* ================== */
.btn {
  border-radius: 25px;
  border: 1px solid #FF6C00;
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

/* ===================== nav============= */

.nav {
  display: flex;
}

.leftnav {
  max-width: 102px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.lefnav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.leftnav__item-line {
  width: 1px;
  height: 60px;
  flex-shrink: 0;
  background-color: var(--title-text);
  margin-bottom: 40px;
}

.leftnav__item-social {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.leftnav__link {
  color: var(--title-text);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 2.2px;
}

.leftnav__link:hover {
  color: var(--orange);
  transition: color 0.2s ease;
}

.logoimg {
  margin: 32px 32px 0 0;
}

/* ================== */
.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  background-image: url('../images/Slider\ img\ 3.jpg');
  object-fit: cover;
}

.navigation__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1120px;
  max-height: 120px;

}

.contact__navigation-item:last-child {
  position: relative;
  overflow: hidden;
}

.main__navigation-overlay {
  position: fixed;
  min-width: 480px;
  height: 500px;
  top: 0;
  left: 365px;
  display: none;
  transform: translate(-100%);
  z-index: 2;
}

.overlay__box {
  display: none;
}

.overlay__list {
  display: flex;
  flex-direction: column;
  margin-left: -250px;
}

.overlay__item {
  margin-bottom: 30px;
  margin-top: 20px;
}

.navigation__top:hover .main__navigation-overlay {
  transform: translate(0);
}


.main__navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.main__navigation-list:first-child {
  padding-left: 40px;
}

.main__navigation-link {
  color: var(--text-color-white);
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}

.contact__navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.contact__navigation-list:last-child {
  padding-right: 55px;
}

.contact__navigation-link:nth-child(1) {
  color: var(--text-color-white);
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.contact__navigation-link:nth-child(2) {

  color: var(--text-color-white);
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.main__navigation-link:hover,
.contact__navigation-link:hover {
  color: rgba(255, 108, 0, 1);
  transition: color 0.3s ease;
}

.top__btn {
  position: relative;
  overflow: hidden;
}

.top__btn::before {
  position: fixed;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../images/burger.svg");
  top: 35px;
  right: 100px;
  display: none;
}

/* =================== */

.navhero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 152px;

}

.navhero__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle__navhero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle__navhero-line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: rgba(157, 164, 189, 0.60);
}

.subtitle__navhero-content {
  margin-left: 80px;
  color: rgba(157, 164, 189, 0.60);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.text__navhero-hone {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-white);
  font-family: Raleway;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}

.text__navhero-other {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9DA4BD;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  letter-spacing: 0.36px;
}

.navhero__slider {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
}

.navhero__slider-lines {
  position: absolute;
  right: 15%;
  top: 10%;
}

.navhero__slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;

}

.btnlink1::before {
  position: absolute;
  content: "";
  background: rgba(157, 164, 189, 0.60);
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  right: 90px;
}

.btnlink2::after {
  position: absolute;
  content: "";
  background: rgba(157, 164, 189, 0.60);
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  right: 77px;
}

.navhero__slider-btnlink {
  position: relative;
  color: rgba(157, 164, 189, 0.60);
  text-align: right;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  padding-bottom: 49px;
  padding-right: 60px;
}

.navhero__slider-btnlink:hover {
  color: var(--text-color-white);
  transition: color 0.5s ease;
}

.btnlink2:hover::after {
  background: var(--text-color-white);
  transition: background 0.5s ease;
}

.btnlink1:hover::before {
  background: var(--text-color-white);
  transition: background 0.5s ease;
}

/* ===========================main */

.main__discription {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 705px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.main__discription-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.main__disription-text {
  margin-left: 64px;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.main__disription-subtitle {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main__disription-subtitle h6 {
  color: var(--title-text);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.line-discription {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background-color: var(--title-text);
  margin-left: 30px;
}

.main__disription-title {
  margin-bottom: 20px;
  color: var(--title-text);
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.main__disription-textbig {
  margin-bottom: 20px;
  color: #555;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.main__disription-textsmall {
  margin-bottom: 40px;
  color: #555;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.28px;
}

.btn.black__button a {
  color: #303030;
}

.btn.black__button a:hover {
  color: rgba(255, 108, 0, 1);
  transition: color 0.3s ease;
}

/* ====================price== */
.price-background {
  background-image: url("../images/priceimg.jpg");
}

.main__price {
  display: flex;
  flex-direction: column;
  max-height: 718px;
  padding: 130px 0;
}

.main__price-subtitle {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-bottom: 20px;
}

.main__price-subtitle h6 {
  color: rgba(157, 164, 189, 0.60);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.price__line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: rgba(157, 164, 189, 0.60);
  margin-left: 30px;
}

.main__price-title h3 {
  display: flex;

  color: var(--text-color-white);
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.main__price-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-top: 44px;
}

.main__price-list {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
}

.main__price-item {
  display: flex;

  color: #9DA4BD;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.main__price-right,
.main__price-left {
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

.price__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.main__price-itemline {
  color: rgba(157, 164, 189, 0.12);
  display: flex;
  align-items: end;
}

.main__price-right:hover,
.main__price-left:hover {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
  animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: all 0.5s ease;
}

/* =================info==== */

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 130px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.info__boxes {
  display: flex;
}

.info__boxes-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.info__boxes-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 170px;
  height: 133px;
  flex-shrink: 0;
  background: #F7F7F7;
  height: 133px;
}

.info__boxes-number {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #303030;
  text-align: center;
  font-family: "Open Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;

  position: relative;
}

.info__boxes-number::after {
  content: "+";
  color: #FF6C00;
  /* position: absolute; */
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: -10px;
  left: 50px;
  margin-bottom: 30px;
}

.info__boxes-text {
  color: #303030;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 130px;

}

.info__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__text-subtitle {
  display: flex;
  align-items: center;
}

.info__text-subtitle h6 {
  color: #303030;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.info__text-line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: #303030;
  margin-left: 30px;
  margin-right: 60px;
}

.info__text-title h3 {
  color: #303030;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.info__text-other p {
  color: #555;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  letter-spacing: 0.36px;
}


/* ===============masters==== */

.masters {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  margin-bottom: 130px;
  background-color: rgba(247, 247, 247, 1)
}

.masters__subtitle {
  display: flex;
  align-items: center;
}

.masters__subtitle h6 {
  color: #303030;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.masters__line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: #303030;
  margin-left: 30px;
  margin-right: 60px;
}

.masters__title {
  margin-bottom: 44px;
}

.masters__title h3 {
  color: #303030;

  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.masters__content {
  display: flex;
}

.masters__box-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.masters__box {
  display: flex;
  flex-direction: column;
}

.masters__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.masters__portfolio-image {
  padding-bottom: 30px;
}

.master__portfolio-text1 {
  padding-bottom: 8px;
  color: #303030;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.master__portfolio-text2 {
  padding-bottom: 30px;
  color: #FF6C00;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.masters__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.masters__social div {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.masters__social-link:hover {
  fill: rgba(255, 108, 0, 1);
  transition: 0.3s ease;
}

/* ==========foto========== */

.foto {
  display: flex;
  margin-top: 130px;
  margin-bottom: 130px;
  flex-direction: column;
}

.foto__text {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.foto__text h6 {
  color: #303030;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.foto__text-line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: #303030;
  margin-left: 30px;
  margin-right: 60px;
}

.foto__content {
  display: flex;
  gap: 30px;
}

/* ============feedback======== */

.feedback__container {
  background: #191C26;
}

.feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.feedback__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  height: 644px;
  background: #191C26;
}

.feedback__form-title h3 {
  color: var(--text-color-white);
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  margin-bottom: 44px;

  display: flex;
  align-items: start;
}

.form__nametel {
  margin-bottom: 44px;
}

.nametel__input {
  width: 270px;
  height: 24px;
  background: #191C26;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.40);
  cursor: pointer;
  color: var(--text-color-white);
}

.nametel__input:hover {
  border: none;
  border-bottom: 1px solid var(--text-color-white);
  transition: 0.3s ease;
}

.nametel__input::placeholder {
  color: rgba(157, 164, 189, 0.40);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.nametel__input:hover::placeholder {
  color: var(--text-color-white)
}

.nametel__input:nth-child(1) {
  margin-right: 16px;
}

.form__message {
  margin-bottom: 44px;
}

.textarea__message {
  resize: none;
  width: 560px;
  height: 76px;
  background: #191C26;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.40);
  cursor: pointer;
  color: var(--text-color-white);
}

.textarea__message:hover {
  border: none;
  border-bottom: 1px solid var(--text-color-white);
  transition: 0.3s ease;
}

.textarea__message:active {
  border: none;
  border-bottom: 1px solid var(--text-color-white);
  transition: 0.3s ease;
}

.textarea__message:hover::placeholder {
  color: var(--text-color-white)
}

.textarea__message::placeholder {
  color: rgba(157, 164, 189, 0.40);
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.feedback__contact {
  background-image: url("../images/Bg-contact.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}

.feedback__contact-title h3 {
  color: #FFF;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.feedback__contact-items {
  display: flex;
  flex-direction: column;
  color: #9DA4BD;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  letter-spacing: 0.36px;
}

.feedback__contact-adress {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.feedback__contact-adress a,
.feedback__contact-tel a,
.feedback__contact-mail a {
  color: #9DA4BD;
}

.feedback__contact-adress a:hover,
.feedback__contact-tel a:hover,
.feedback__contact-mail a:hover {
  text-decoration: underline;
  transition: 0.3s ease;
}

.feedback__contact-tel {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
}

.feedback__contact-mail {
  display: flex;
  gap: 16px;
  padding-bottom: 70px;
}

.feedback__contact-time {
  display: flex;
  align-items: center;
}

.feedback__contact-time h6 {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.feedback__contact-line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: rgba(157, 164, 189, 0.40);
  margin-left: 30px;
  margin-right: 60px;
}

.feedback__contact-timework {
  color: #9DA4BD;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  letter-spacing: 0.36px;
}

/* ===========footer========= */

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 127px;
}

.footer__rights {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer__social-line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: #303030;
  margin-right: 30px;
}